<h1>Role - Based UI</h1>

<select name="role" [(ngModel)]="role" style="width: 100px; height: 30px">
  <option value="ADMIN">Admin</option>
  <option value="USER">User</option>
  <option value="GUEST">Guest</option>
</select>

<!-- @if (role === 'ADMIN') {
  <div style="background-color: rgb(241, 66, 66)">
    <h4>Hello Admin</h4>
  </div>
} @else if (role === 'USER') {
  <div style="background-color: skyblue">
    <h4>Hello User</h4>
  </div>
} @else {
  <div style="background-color: lightseagreen">
    <h4>Hello Guest</h4>
  </div>
} -->

<div [style.background]="role === 'ADMIN' ? 'red' : role === 'USER' ? 'green' : 'skyblue'">
  Hello {{ role }}
</div>
